body
{
	background: #eee;
}

div.login
{
	padding-top:40px;
	
}

div.cover
{
	text-align: center;
	padding-top: 20px;
}

div.cover img
{
	height: 300px;
	width: auto;
}


tr.user-activate
{
	background: #0FACE0;
	color:white;
}

tr.user-selected-true
{
	background: #face00;
}

tr.user-activate.user-selected-true
{
	background: #00face;
}

a.user-selected-choice
{
	display: block;
	border-radius: 5px;
	height: 30px;
	width:30px;
	background: #434343;
}

a.user-selected-choice.user-selected-true
{
	background: #eee;
}



tr.item-selected-true
{
	background: #FF00EE;
	color:white;
}

div.avartar-selected-true
{
	background: #333;
}

div.avartar-choices
{
	display: inline-block;
}

img.profile-picture
{
	height: 20px;
	width: auto;
	-webkit-filter: grayscale; /*sepia, hue-rotate, invert....*/
	-webkit-filter: brightness(0%); 
}

li.class-list
{
	list-style: none;
	display: inline-block;
	position: relative;
	padding-right: 20px;
}

li.class-list img
{
	height: 128px;
	width: auto;
}

li.class-list div.name
{
	text-align: center;
	padding-top: 5px;
}	

li.class-list div.name span
{

}