<section class="container">
	<div class="cover">
		<a href='#'><img  src="images/cover.jpg" style="height:100px;width:auto"/></a>
	</div>
	<div class="register">
		<form ng-submit="register()" role="form">
			<div class="form-group">
				<label for="name_form">Name</label>

				<input id="name_form" class="form-control"  ng-model="name" type="text" required> 
				<label for="lastname_form">Lastname</label>
				<input ng-model="lastname"  id="lastname_form" class="form-control" type="text" required>
			</div>
			<div class="form-group">
				<label for="account_form">Account ID</label>
				<input id="account_form" class="form-control"  ng-model="account_id" type="text" required>
			</div>
			<div class="form-group">
				<label for="email_form">Email address</label>
				<input id="email_form" class="form-control"  ng-model="email" type="email" required>
			</div>
			<div class="form-group">
				<label for="password_form">Password</label>
				<input id="password_form" class="form-control"  ng-model="password" type="password" required>
				<label for="repassword_form">Re Password</label>
				<input id="repassword_form" class="form-control" ng-model="repassword" type="password" required>
			</div>
			<label >Avartar</label>
			<div class="form-group">
				<div ng-repeat = "avartar in avartars" class="avartar-selected-{{avartar.isSelected}} avartar-choices">
					<input id="avartar-{{avartar.id}}" type="radio" ng-model="profile_picture" value="images/avartar/{{avartar.name}}" name="profile" ng-show="false">
					<a href="" ng-click="chooseAvartar(avartar)"><img ng-src="images/avartar/{{avartar.name}}" class="avartar-selected-{{avartar.isSelected}}"  /></a>
				</div>
				<div style="clear:both;"></div>
			</div>
			<input type="submit" class="btn btn-warning btn-lg btn-block" value="Register"/>
		</form>
	</div>
</section>